.taskboard {
    &-tasks {
        display: flex;
        justify-content: center;
        padding: 10px 30px;
        margin-top: 20px;
        .taskboard-status-board {
            width: 30%;
        }
    }
}