<div class="container">
    <section class="login">
        <div class="login__content">
            <section class="general">
                <mat-icon class="general-dashboard">dashboard</mat-icon>
                <h2 class="general-title">Login</h2>
                <p class="general-description description">See your growth and achieve your goals!</p>
            </section>
            <app-login-form></app-login-form>
            <section class="register">
                <p class="register-description description">Not registered yet?</p>
                <app-submit-btn (click)="openRegisterPopup()" class="register-btn" buttonText="Create an Account" [style]="true"></app-submit-btn>
            </section>
        </div>
        <app-custom-form 
            formName="Reset Password Form" 
            buttonName="Reset password"
            (sentData)="sendResetRequest($event)"
            class="login-form forget-form" 
            [ngClass]="{open__reset: checkReset}" 
            id="forget" 
            [questions]="resetQuestions">
        </app-custom-form>
        <app-custom-form 
            formName="Sign Up Form"
            buttonName="Sign Up" 
            class="login-form register-form" 
            [ngClass]="{open__register: checkRegister}" id="register"
            (sentData)="sendRegisterRequest($event)"
            [questions]="registerQuestions">
        </app-custom-form>
        <app-message class="login-form" [ngClass]="{display__message: isDisplayed}"></app-message>
    </section>
    <section class="img-section">
        <img class="img-section__image analysis-image" src="/assets/images/task_analysis.png" alt="">
        <img class="img-section__image time-image" src="/assets/images/time_management.png" alt="">
        <article class="img-section-info info">
            <h2 class="info-title">Turn your ideas into reality</h2>
            <p class="info-general">Create tasks and improve your time management with this dashboard. Welcome!</p>
        </article>
    </section>
</div>
