<div class="container">
    <section class="login">
        <div class="login__content">
            <section class="general">
                <mat-icon class="general-dashboard">dashboard</mat-icon>
                <h2 class="general-title">Login</h2>
                <p class="general-description description">See your growth and achieve your goals!</p>
            </section>
            <app-login-form></app-login-form>
            <section class="register">
                <p class="register-description description">Not registered yet?</p>
                <app-account-btn (click)="openRegisterPopup()" class="register-btn" text="Create an Account"></app-account-btn>
            </section>
        </div>
        <app-custom-form form="Reset Password Form" btnName="Reset password" class="login-form forget-form" id="forget" 
            [fieldValues]="[{fieldText: 'Email', placeholder: 'andrii_chekurda@epam.com'}, 
                            {fieldText: 'Old password', placeholder: '1234'},
                            {fieldText: 'New password', placeholder: '1234'}]">
        </app-custom-form>
        <app-custom-form form="Sign Up Form" btnName="Sign Up" class="login-form register-form" id="register" 
        [fieldValues]="[{fieldText: 'Email', placeholder: 'andrii_chekurda@epam.com'}, 
                        {fieldText: 'Password', placeholder: '1234'}]">
        </app-custom-form>
    </section>
    <section class="img-section">
        <img class="img-section__image analysis-image" src="/assets/images/task_analysis.png" alt="">
        <img class="img-section__image time-image" src="/assets/images/time_management.png" alt="">
        <article class="img-section-info info">
            <h2 class="info-title">Turn your ideas into reality</h2>
            <p class="info-general">Create tasks and improve your time management with this dashboard. Welcome!</p>
        </article>
    </section>
</div>
