@import '../../../scss/variables';
.admin {
    &-header {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    &-title {
        font: {
            size: 20px;
            weight: 600;
        }
    }
    &-clock {
        display: flex;
        align-items: center;
        .admin-date {
            color: $gray;
        }
    }
}