@import '../../../scss/variables';
@import '../../../scss/mixins';
.submit {
    &-btn {
        background-color: $obligatory-color;
        @include btn-params;
        color: $input-color;
        transition: .5s;
        width: 95%;
        margin: 0 5px;
    }
    &-btn:hover {
        background-color: $gradient-color2;
    }
}