@import 'src/styles/_mixins';
.submit {
    &-btn {
        background-color: var(--obligatory-color);
        @include --btn-params;
        color: var(--input-color);
        transition: .5s;
        width: 95%;
        margin: 0 5px;
    }
    &-btn:hover {
        background-color: var(--gradient-color2);
    }
}