.custom {
    &-field {
        display: flex;
        align-items: flex-start;
        .field-info {
            width: 100%;
            margin: 15px 20px;
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: var(--input-color);
        background-color: var(--obligatory-color);
        padding: 20px;
        border-radius: 30px 30px 0 0;
    }
    &-title {
        color: var(--input-color);
    }
    &-icon {
        text-shadow: none;
    }
    &-icon:hover {
        cursor: pointer;
    }
    &-submit {
        padding: 10px 30px;
    }
}