<article class="approve" [ngClass]="{open__approve: visible}">
    <section class="approve-header">
        <h3 class="approve-title">Approve form</h3>
        <mat-icon class="approve-icon icon" (click)="closePopup()">close</mat-icon>
    </section>
    <h3 class="approve-title">Are you sure?</h3>
    <div class="approve-btns">
        <button class="approve-cancel approve-btns-btn" (click)="closePopup()">Cancel</button>
        <button class="approve-ok approve-btns-btn" (click)="sendData()">Approve</button>
    </div>
</article>