@import '../../../scss/variables';
.account {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &-link {
        text-align: end;
        cursor: pointer;
        color: $gradient-color1;
        transition: .5s;
    }
    &-link:hover {
        color: $obligatory-color;
    }
}