.header {
    height: 10vh;
    background-color: var(--obligatory-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation {
        margin: 0 20px;
        &__item {
            color: var(--input-color);
            text-decoration: none;
            font-size: 24px;
        }
    }
    .icons {
        margin: 0 20px;
        &-info {
            color: var(--input-color);
            font-weight: 600;
            display: flex;
            align-items: center;
        }
        &-main {
            margin-right: 10px;
        }
    }
}