$text-shadow: 4px 2px 4px #BDBDBD;
$text-color: #1c1d21;
$obligatory-color: #1c1d21;
$input-color: #eeeee4;
$placeholder-color: #c0c4c1;
$gradient-color1: #4e36e7;
$gradient-color2: #3521b5;
$dark-gray: #7c7e82;
$darker-gray: #333438;
$gray: #b0b0b0;
$light-gray: #f5f3f6;
$medium-gray: #9799a9;
$board-gray: #c9c9c9;