<article class="dashboard">
    <section class="dashboard-header">
        <div class="dashboard-add">
            <h2 class="dashboard-title">Dashboard</h2>
            <div class="dashboard-add-btn">
                <mat-icon class="add-icon">add_circle_outline</mat-icon>
                <p class="add-name">Add New</p>
            </div>
        </div>
        <aside class="dashboard-tools tools">
            <ul class="tools-list">
                <li class="tools-list-li">Filter</li>
                <li class="tools-list-li">Sort by Dropdown</li>
                <li class="tools-list-li">Asc</li>
                <li class="tools-list-li">Desc</li>
            </ul>
        </aside>
    </section>
    <section class="dashboard-boards">
        <app-board class="dashboard-board" *ngFor="let board of boards$ | async" [boardValue]="board"></app-board>
    </section>
</article>