.dashboard {
    &-boards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px 30px;
    }
}

@media (max-width: 768px) {
    .dashboard-boards {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5px 10px;
    }
}