@import 'src/styles/mixins';
.custom {
    &-fieldset {
        display: flex;
        flex-direction: column;
    }
    &-label {
        -webkit-text-stroke-width: .5px;
        text-align: start;
        padding-bottom: 15px;
        .obligatory {
            color: var(--obligatory-color);
        }
    }
    &-input {
        @include --btn-params;
    }
    &-input::placeholder {
        color: var(--placeholder-color);
    }
}