.icon-list {
    background-color: var(--obligatory-color);
    color: var(--dark-gray);
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    .icon {
        transition: .5s;
        box-sizing: content-box;
        padding: 7px;
        border-radius: 60px;
    }
    .icon:hover {
        color: var(--input-color);
        background-color: var(--darker-gray);
        cursor: pointer;
    }
}