.status-board {
    border: 1px solid var(--gray);
    border-radius: 15px;
    margin: 0 20px;
    &-header {
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        .status-board-title {
            font: {
                size: 18px;
                weight: 600;
            }
        }
        .status-board-add {
            display: flex;
            justify-content: baseline;
            align-items: flex-end;
            cursor: pointer;
            color: var(--gray);
            transition: .5s all ease;
            .add-name {
                padding-left: 5px;
                color: var(--gray);
                transition: .5s all ease;
            }
        }
        .status-board-add:hover {
            color: var(--text-color);
            .add-name {
                color: var(--text-color);
            }
        }
    }
    &-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.drag {
    border: 2.5px dashed var(--gray);
}