<article class="board">
    <section class="board-general">
        <h3 class="general__name" [routerLink]="['board', board.id]">{{board.name}}</h3>
        <div class="board-more more">
            <mat-icon class="more-icon" (click)="openMore()">more_horiz</mat-icon>
            <div class="more-list" [ngClass]="{visible: isPressed}">
                <p class="more-list-item">Edit</p>
                <p class="more-list-item">Delete</p>
            </div>
        </div>
    </section>
    <section class="board-info">
        <p class="info-desc">{{board.description}}</p>
        <p class="info-date">{{board.creation_date}}</p>
    </section>
</article>
