<main class="dashboard">
    <app-icon-list class="dashboard-icon"></app-icon-list>
    <app-board-menu class="dashboard-menu"></app-board-menu>
    <section class="dashboard-main">
        <app-admin-header class="user-header" [username]="username"></app-admin-header>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>
    <app-board-form 
        class="dashboard-form" 
        [ngClass]="{create__board: openCreateBoard}" 
        (sentData)="sendCreateBoardRequest($event)" 
        id="create-board-form" 
        submitText="Create Board">
    </app-board-form>
    <app-board-form 
        class="dashboard-form" 
        (sentData)="sendEditBoardRequest($event)" 
        [ngClass]="{edit__board: openEditBoard}" 
        id="edit-board-form" 
        submitText="Edit Board">
    </app-board-form>
    <app-task-form 
        class="dashboard-form" 
        (sentData)="sendCreateTaskRequest($event)" 
        [ngClass]="{create__task: openCreateTask}" 
        submitText="Create Task"></app-task-form>
    <app-task-form 
        class="dashboard-form" 
        (sentData)="sendEditTaskRequest($event)" 
        [ngClass]="{edit__task: openEditTask}" 
        submitText="Edit Task"></app-task-form>
    <app-approve-form 
        class="dashboard-form" 
        [ngClass]="{delete__board: openDelete}" 
        (sentData)="deleteItem()">
    </app-approve-form>
</main>