<article class="task-page">
    <app-dashboard-header addText="New comment" 
    [isTaskPage]="true" 
    [headerType]="(task$ | async)!.name" 
    (sentOpenForm)="openCommentForm($event)"
    (sentFilterData)="filterComments($event)"
    ></app-dashboard-header>
    <section class="description">
        <h4 class="description-title">Task description</h4>
        <p class="description-info">{{(task$ | async)!.description}}</p>
    </section>
    <section class="comments">
        <h3 class="comments-title">All comments</h3>
        <h3 class="comments-title1" *ngIf="(task$ | async)!.comments == null || (task$ | async)!.comments.length == 0">You can add some comments to this task</h3>
        <article class="comment" *ngFor="let comment of (sortFlag ? (comments$ | async | sortBy: ascOrder : propertyName) : (comments$ | async))">
            <h4 class="comment-title">{{comment.title}}</h4>
            <p class="comment-message">{{comment.message}}</p>
            <p class="comment-date">{{comment.created_date | date:"dd/MM/yyyy"}}</p>
            <mat-icon class="comment-edit" title="Edit comment" (click)="openEditCommentForm(comment._id)">edit</mat-icon>
            <mat-icon class="comment-delete" title="Delete comment" (click)="openDeleteCommentForm(comment._id)">delete</mat-icon>
        </article>
    </section>
    <app-comment-form 
        class="task-page-form" 
        [task]="(task$ | async)!" 
        [ngClass]="{openForm: isFormOpened}"
        [isOpened]="isFormOpened" 
        (closedForm)="closeCommentForm()"
    >
    </app-comment-form>
    <app-comment-form 
        class="task-page-form" 
        [task]="(task$ | async)!" 
        [ngClass]="{openForm: isFormForEditOpened}"
        [isOpened]="isFormForEditOpened" 
        [isEdit]="true"
        (closedForm)="closeCommentForm()"
        formTitle="Edit comment"
    >
    </app-comment-form>
    <app-approve-form 
        class="task-page-form" 
        [ngClass]="{openForm: openDeleteForm}" 
        (sentData)="deleteComment()">
    </app-approve-form>
</article>