<form class="board-form" [ngClass]="{open__board: visible}" [formGroup]="boardForm">
    <section class="board-form-header">
        <h2 class="board-title">{{submitText}}</h2>
        <mat-icon class="board-icon icon" (click)="closePopup()">close</mat-icon>
    </section>
    <section class="board-form-value">
        <label for="board-name" class="form-label">Name: </label>
        <input id="board-name" class="form-input" type="text" formControlName="name" required [(ngModel)]="board.name">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
            <div *ngIf="name?.errors?.['required']">
                Name is required.
            </div>
            <div *ngIf="name?.errors?.['minlength']">
                Name must be at least 4 characters long.
            </div>
        </div>
    </section>
    <section class="board-form-value">
        <label for="board-description" class="form-label">Description: </label>
        <input id="board-description" class="form-input" [readonly]="readonlyFlag" type="text" formControlName="description" required [(ngModel)]="board.description">
        <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="alert alert-danger">
            <div *ngIf="name?.errors?.['required']">
                Description is required.
            </div>
            <div *ngIf="name?.errors?.['minlength']">
                Description must be at least 4 characters long.
            </div>
        </div>
    </section>
    <app-submit-btn class="board-form-submit" buttonText="{{submitText}}" [styleFlag]="false" (btnClick)="sendForm()"></app-submit-btn>
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched) || description?.invalid && (description?.dirty || description?.touched) || checkErrors" class="alert-danger">
        Cannot send data, errors detected
    </div>
</form>
