<main class="admin">
    <app-icon-list class="admin-icon"></app-icon-list>
    <app-board-menu class="admin-menu"></app-board-menu>
    <section class="admin-main">
        <app-admin-header></app-admin-header>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>
    <app-board-form class="admin-form" [ngClass]="{create__board: openCreateBoard}" 
    (sentData)="sendCreateBoardRequest($event)" id="create-board-form" setSubmit="Create Board"></app-board-form>
    <app-board-form class="admin-form" (sentData)="sendEditBoardRequest($event)" [ngClass]="{edit__board: openEditBoard}" id="edit-board-form" setSubmit="Edit Board"></app-board-form>
    <app-task-form class="admin-form" (sentData)="sendCreateTaskRequest($event)" [ngClass]="{create__task: openCreateTask}" setSubmit="Create Task"></app-task-form>
    <app-task-form class="admin-form" (sentData)="sendEditTaskRequest($event)" [ngClass]="{edit__task: openEditTask}" setSubmit="Edit Task"></app-task-form>
    <app-approve-form class="admin-form" [ngClass]="{delete__board: openDelete}" (sentData)="deleteItem()"></app-approve-form>
    <!-- <app-message class="admin-message" [ngClass]="{open__message: openMessage}"></app-message> -->
</main>