.dashboard-header {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    padding: 10px 40px;
    .dashboard-add {
        display: flex;
        align-items: flex-end;
        .dashboard-title {
            font: {
                size: 24px;
                weight: 900;
            }
        }
        &-btn {
            display: flex;
            justify-content: baseline;
            align-items: flex-end;
            padding: 0 30px;
            cursor: pointer;
            color: var(--gray);
            transition: .5s all ease;
            .add-name {
                padding-left: 5px;
                color: var(--gray);
                transition: .5s all ease;
            }
        }
        &-btn:hover {
            color: var(--text-color);
            .add-name {
                color: var(--text-color);
            }
        }
    }
    .tools {
        display: flex;
        align-items: flex-end;
        &-li {
            padding: 0 10px;
            color: var(--gray);
            transition: .5s all ease;
            cursor: pointer;
            display: flex;
            &-order {
                display: flex;
                align-items: flex-end;
                &-icon {
                    margin-left: 7px;
                }
            }
            &-params {
                opacity: 0;
                visibility: hidden;
                transition: .5s ease;
                padding: 4px;
                border: 1px solid var(--gray);
                border-radius: 10px;
                background-color: #fff;
            }
        }
        .filter {
            padding: 5px 15px;
            border-radius: 12px;
            border: .5px solid var(--gray);
            cursor:text;
        }
        .filter::placeholder{
            color: var(--gray)
        }
        .sort-tools {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 44px;
        }
        .sort-tools:hover {
            .tools-li-params {
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }
        }
        .sort-hover {
            transition: .5s all ease;
            cursor: pointer;
        }
        .sort-hover:hover {
            color: var(--text-color);
        }
    }
}

@media (max-width: 768px) {
    .dashboard-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5px 10px;
    }
    #dashboard-btn {
        padding: 0;
        #btn-name {
            padding-left: 0;
        }
    }
}