<section class="dashboard-header">
    <div class="dashboard-add">
        <h2 class="dashboard-title">{{headerType}}</h2>
        <div class="dashboard-add-btn" (click)="openCreateForm()">
            <mat-icon class="add-icon">add_circle_outline</mat-icon>
            <p class="add-name">Add New</p>
        </div>
    </div>
    <aside class="dashboard-tools tools">
        <ul class="tools-list">
            <li class="tools-list-li">Filter</li>
            <li class="tools-list-li sort-tools">
                <section class="tools-list-li-order">
                    <p class="tools-list-li-order-pgh">Sort by</p>
                    <mat-icon class="tools-list-li-order-icon sort-hover" (click)="setOrder('asc')">arrow_upward</mat-icon>
                    <mat-icon class="tools-list-li-order-icon sort-hover" (click)="setOrder('desc')">arrow_downward</mat-icon>
                </section>
                <section class="tools-list-li-params">
                    <p class="tools-list-li-params-pgh sort-hover" (click)="setPropertyName('created_date')">Dropdown</p>
                    <p class="tools-list-li-params-pgh sort-hover" (click)="setPropertyName('name')">Name</p>
                </section>
            </li>
        </ul>
    </aside>
</section>