<form class="form" [formGroup]="loginForm">
    <section class="form-item email">
        <label class="form-label" for="email-input">Email<span class="obligatory">*</span></label>
        <input type="text" class="form-input" id="email-input" formControlName="email" placeholder="andrii_chekurda@epam.com">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
            <div *ngIf="email?.errors!['required']">
                Email is required.
            </div>
            <div *ngIf="email?.errors!['email']">
                Field must be type of email.
            </div>
        </div>
    </section>
    <section class="form-item password">
        <label class="form-label" for="pass-input">Password<span class="obligatory">*</span></label>
        <input type="password" class="form-input" id="pass-input" formControlName="password" placeholder="Min. 8 characters">
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
            <div *ngIf="password?.errors!['required']">
                Password is required.
            </div>
        </div>
    </section>
    <section class="form-item btns">
        <app-submit-btn (click)="openForgetPopup()" class="form-btn" [style]="true" buttonText="Forget password?"></app-submit-btn>
        <app-submit-btn class="login-btn" buttonText="Sign In" (click)="login()"></app-submit-btn>
    </section>
</form>