@import '../../../../../styles/mixins';
.form {
    &-item {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        gap: 15px;
    }
    &-label {
        -webkit-text-stroke-width: .5px;
        .obligatory {
            color: var(--obligatory-color);
        }
    }
    &-input {
        @include --btn-params;
    }
    &-input::placeholder {
        color: var(--placeholder-color);
    }
}