<article class="board">
    <section class="board-general">
        <h3 class="general__name" (click)="goToTasks()">{{board.name}}</h3>
        <div class="board-more more">
            <mat-icon class="more-icon" (click)="openMore()">more_horiz</mat-icon>
            <div class="more-list" [ngClass]="{visible: isPressed}">
                <mat-icon class="more-list-item" title="Edit board" (click)="openEditForm()">edit</mat-icon>
                <mat-icon class="more-list-item" title="Delete board(with tasks)" (click)="openDeleteBoardForm()">delete</mat-icon>
            </div>
        </div>
    </section>
    <section class="board-info">
        <p class="info-desc">{{board.description}}</p>
        <p class="info-date">{{board.created_date | date:"dd/MM/yyyy"}}</p>
    </section>
</article>
