<article class="task" appDragAndDrop [ngClass]="{archive: task.isArchived}">
    <section class="task-general">
        <h3 class="general__name" id="{{task._id}}">{{task.name}}</h3>
        <div class="task-more more">
            <mat-icon class="more-icon" (click)="openMore()">more_horiz</mat-icon>
            <div class="more-list" [ngClass]="{visible: isPressed}">
                <p class="more-list-item" (click)="openEditTaskForm()">Edit</p>
                <p class="more-list-item" (click)="openDeleteTaskForm()">Delete</p>
                <p class="more-list-item" *ngIf="!task.isArchived" (click)="archiveTask()">Archive</p>
                <p class="more-list-item" *ngIf="task.isArchived" (click)="archiveTask()">Dearchive</p>
            </div>
        </div>
    </section>
    <section class="task-info">
        <p class="info-desc">{{task.description}}</p>
        <p class="info-date">{{task.created_date | date:"dd/MM/yyyy"}}</p>
    </section>
</article>