<article class="board-menu">
    <section class="board-menu-main">
        <h2 class="board-menu-title">Boards</h2>
        <mat-icon class="board-menu-icon" (click)="openCreateForm()">control_point</mat-icon>
    </section>
    <section class="board-menu-boards">
        <div class="board-menu-general boards-list">
            <label class="board-menu-label" [ngClass]="{'board__label' : bLabel}" (click)="openBoardList()">Boards 
                <mat-icon class="list-icon" [ngClass]="{'board__right' : bRight}">keyboard_arrow_right</mat-icon>
                <mat-icon class="list-icon" [ngClass]="{'board__down' : bDown}">keyboard_arrow_down</mat-icon>
            </label>
        </div>
        <div class="board-menu-boards-list" [ngClass]="{'b_list' : openBoards}">
            <a class="link boards-link" [routerLink]="['dashboard']">All boards({{boardCount}})</a>
            <a class="link boards-link" [routerLink]="['board', board._id]" *ngFor="let board of boards$ | async">{{board.name}}</a>
        </div>
    </section>
    <section class="board-menu-tasks">
        <div class="board-menu-general tasks-list">
            <label class="board-menu-label" [ngClass]="{'task__label' : tLabel}" (click)="openTaskList()">Tasks 
                <mat-icon class="list-icon" [ngClass]="{task__right: tRight}">keyboard_arrow_right</mat-icon>
                <mat-icon class="list-icon" [ngClass]="{task__down: tDown}">keyboard_arrow_down</mat-icon>
            </label>
        </div>
        <div class="board-menu-tasks-list" [ngClass]="{'t_list' : openTasks}">
            <a class="link tasks-link">All tasks(count)</a>
            <a class="link tasks-link">To do(count)</a>
            <a class="link tasks-link">In progress(count)</a>
            <a class="link tasks-link">Done(count)</a>
        </div>
    </section>
</article>
