.board-menu {
    padding: 0 30px;
    &-main {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        margin-bottom: 30px;
    }
    &-title {
        font: {
            size: 32px;
            weight: 600;
        }
    }
    &-icon {
        margin-top: 5px;
        cursor: pointer;
        transition: .5s all;
    }
    &-icon:hover {
        transform: rotate(90deg);
    }
    &-label {
        color: var(--gray);
        cursor: pointer;
        font: {
            size: 18px;
            weight: 600;
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        .list-icon {
            display: none;
        }
    }
    &-checkbox {
        display: none;
    }
    &-boards {
        text-align: start;
        transition: .5s all ease;
        margin-bottom: 15px;
        &-list {
            color: var(--input-color);
            display: flex;
            flex-direction: column;
            transition: all .5s ease;
            position: absolute;
            transform: translate(0, -1000%);
            .boards-link {
                color: var(--gray);
                width: 100%;
                padding: 4px 15px;
                transition: .5s all ease;
                cursor: pointer;
                text-decoration: none;
            }
            .boards-link:hover{
                color: var(--text-color);
            }
        }
        .b_list {
            position: relative;
            transform: translate(0, 0);
        }
        .board__label {
            transition: .5s all ease;
            color: var(--text-color);
        }
        .board__right, .board__down {
            display: block;
        }
    }
    &-tasks {
        text-align: start;
        &-list {
            a {
                color: var(--gray);
                width: 100%;
                padding: 4px 15px;
            }
            display: flex;
            flex-direction: column;
            position: absolute;
            transition: all .5s ease;
            transform: translate(0, -1000%);
        }
        .t_list {
            position: relative;
            transform: translate(0, 0);
        }
        .task__label {
            transition: .5s all ease;
            color: var(--text-color);
        }
        .task__right, .task__down {
            display: block;
        }
    }
}